.CardStyle {
    text-align: left;
}

.CardBody {
    text-align: left;
}

.card:hover .Overlay{
    opacity: 1;
}

.CardOverlay {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    transition: .5s;
    color: #f1f1f1; 
    font-size: 20px;
    padding: 20px;
    height: 215px;
}