#Footer {
    margin-top: 50px;
}

.Copyright {
    margin: auto;
    align-items: center;
    vertical-align: middle;
}

.SocialMediaDiv {
    margin: auto;
    align-items: center;
    vertical-align: middle;
}

.SocialMediaButton {
    margin: 5px;
    align-items: center;
    vertical-align: middle;
    top: 50%;
}

.SocialMediaButton:hover {
    opacity: 50%;
}

.SocialMediaImage {
    height: auto;
    max-width: 32px;
}

.CopyrightText {
    margin: 0px;
}