.Footer {
    border: none;
    background: #f8f9fa;
    margin-top: 25px;
}

.Copyright {
    margin: auto;
    align-items: center;
    vertical-align: middle;
}

.SocialMediaDiv {
    margin: auto;
    align-items: center;
    vertical-align: middle;
}

.SocialMediaButton {
    margin: 5px;
    align-items: center;
    vertical-align: middle;
    top: 50%;
}

.SocialMediaButton:hover {
    opacity: 50%;
}

.SocialMediaImage {
    height: auto;
    max-width: 32px;
}

.CopyrightText {
    margin: 0px;
}

.Logo {
    width: 100px;
    height: auto;
    margin: 10px
}